footer {
  width: 100%;
  height: 70px;
  padding: 15px;
  @include flex(row, space-between);

  .l {
    font-size: 18px;
    font-weight: 500;
  }

  .sign {
    width: 38px;
    height: 35px;
    background: url(../img/sign.svg) no-repeat center;
  }
}

@media screen and (min-width: 768px) {
  footer {
    padding-left: 95px;
    padding-right: 95px;
  }
}