header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 60px;
  background: transparent;
  @include transition();
  @include flex(row, space-between);
  padding: 0 15px;

  &.scroll,
  &.active {
    background-color: #fff;

    .phone {
      color: $primary-color;
    }

    .logo {
      background-image: url(../img/logo-black.svg);
    }

    .menu {
      .burger {
        &::before,
        &::after {
          background-color: $primary-color;
        }
      }
    }
  }

  &.active {
    .menu {
      .burger {
        &::before {
          transform: translateX(-50%) rotate(45deg);
        }
        &::after {
          transform: translateX(-50%) rotate(-45deg);
        }
      }

      .inner {
        padding-top: 20px;
        height: calc(100vh - 60px);
      }
    }
  }

  a {
    color: $primary-color;
    text-decoration: none;
    font-weight: 700;
  }

  .phone {
    font-size: 24px;
    padding-left: 40px;
    color: #fff;

    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background: url(../img/phone.svg) no-repeat center;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .social {
    @include flex(row);

    a.insta {
      display: block;
      width: 34px;
      height: 34px;
      margin-right: 30px;
      background: url(../img/insta.svg) no-repeat center;
    }

    a.vk {
      display: block;
      width: 34px;
      height: 34px;
      background: url(../img/vk.svg) no-repeat center;
    }
  }

  .logo {
    width: 102px;
    height: 27px;
    background: url(../img/logo.svg) no-repeat center;
    background-size: contain;
  }

  .menu {
    height: 35px;
    @include flex(row, flex-end);

    & > .contacts {
      display: none;
    }

    .burger {
      width: 35px;
      height: 35px;

      &::before,
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 50%;
        top: 50%;
        background: #fff;
        transform: translateX(-50%) translateY(-5px);
        @include transition();
      }

      &::after {
        transform: translateX(-50%) translateY(5px);
      }
    }

    .inner {
      width: 100vw;
      height: 0;
      position: fixed;
      left: 0;
      top: 60px;
      background: rgba(#fff, 0.9);
      @include flex(column, flex-start);
      @include transition;
      overflow: hidden;

      ul {
        list-style: none;
        margin: 0;
        padding: 20px 0 70px;

        li {
          list-style: none;
          margin-bottom: 15px;
          font-size: 20px;
          text-align: center;
        }
      }

      .social {
        @include flex(row);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 110px;
    padding: 0 95px;

    .logo {
      width: 219px;
      height: 58px;
    }

    &.active {
      .phone {
        color: $primary-color !important;
      }
    }

    .menu {
      & > .contacts {
        @include flex(row);
        margin-right: 56px;

        .phone {
          margin-right: 40px;
          color: #fff;
        }
      }

      .burger {
        cursor: pointer;
      }

      .inner {
        top: 110px;
        justify-content: center;

        .phone,
        .social {
          display: none;
        }

        ul {
          li {
            font-size: 50px;
            line-height: 60px;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}