$font:    'Museo Sans Cyr', 'Montserrat', sans-serif;
$fonth:   'Bebas Neue', 'PT Sans Narrow', sans-serif;
$primary-color: #303030;
$pink: #FF3754;
$gradient: linear-gradient(180deg, #FDF4F4 0%, #ECF3EC 100%);

@mixin transition($t: all 500ms ease) {
  -webkit-transition: $t;
  transition: $t;
}

@mixin origin($t: 50% 50%) {
  -webkit-transform-origin: $t;
  transform-origin: $t;
}

@mixin bgcover($url) {
  background: url($url) no-repeat center;
  background-size: cover;
}

@mixin bgcontain($url) {
  background: url($url) no-repeat center;
  background-size: contain;
}

@mixin flex($direction: column, $jc: center, $align: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $jc;
  flex-wrap: $wrap;
}

html {
  font-family: $font;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  -webkit-appearance: none;
  font-family: $font;
  font-size: 16px;
  line-height: 1.5em;
  outline: none !important;
}

body {
  background: #fff;
  color: $primary-color;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-family: $fonth;
  margin: 0;
}

h1 {
  font-size: 50px;
  line-height: 50px;
}

h2 {
  font-size: 40px;
  line-height: 40px;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;

  #app {
    @import './header';

    .content-wrapper {
      section {
        margin-bottom: 60px;
      }

      @import './sections/main';
      @import './sections/slider';
      @import './sections/partners';
    }

    @import './footer';
  }
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none !important;
  }

  h1 {
    font-size: 90px;
    line-height: 90px;
  }

  h2 {
    font-size: 70px;
    line-height: 70px;
  }
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}