header(:class="{ active: menu, scroll: scroll }")
  a.logo(href="#")
  .menu
    .contacts
      +phone()
      .social
        +social()
    .burger(@click="menu = !menu")
    .inner
      +phone()
      ul
        li
          a(href="#") пункт меню 1
        li
          a(href="#") пункт меню 2
        li
          a(href="#") пункт меню 3
        li
          a(href="#") пункт меню 4
        li
          a(href="#") пункт меню 5
      .social
        +social()