doctype html
html
  head
    title lorem ipsum dolor sit amet
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    meta(data-hid='description', name='description', content='lorem ipsum dolor sit amet')
    meta(data-hid='twitter:title', name='twitter:title', content='lorem ipsum dolor sit amet')
    //- meta(data-hid='twitter:image:src', name='twitter:image:src', content='/assets/images/social/fb.png')
    meta(data-hid='twitter:card', name='twitter:card', content='summary_large_image')
    meta(data-hid='og:title', property='og:title', content='lorem ipsum dolor sit amet')
    //- meta(data-hid='og:url', property='og:url', content='')
    //- meta(data-hid='og:image', property='og:image', content='/assets/images/social/fb.png')
    meta(data-hid='og:description', property='og:description', content='lorem ipsum dolor sit amet')

    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|PT+Sans+Narrow:400,700&display=swap&subset=cyrillic", rel="stylesheet")
  body
    header
      a.logo(href="#")
      .menu
        .contacts
          a.phone(href="tel:84999999999") 8 499 999 99 99
          a.insta(href="#")
          a.vk(href="#")
        .burger
        .inner
          a.phone(href="tel:84999999999") 8 499 999 99 99
          ul
            li
              a(href="#") Пунтк меню 1
            li
              a(href="#") Пунтк меню 2
            li
              a(href="#") Пунтк меню 3
            li
              a(href="#") Пунтк меню 4
            li
              a(href="#") Пунтк меню 5
          .social
            a.insta(href="#")
            a.vk(href="#")
    section.main
      .photo
      h1 lorem ipsum dolor sit amet
      .subtitle
        span lorem
        |  ipsum dolor sit amet
      button lorem ipsum dolor
      .awards
        .award.active
          .icon.icon-1
          .p.p-1
          .text lorem ipsum dol
        .award
          .icon.icon-2
          .p.p-2
          .text mollis a arcu vitae
        .award
          .icon.icon-3
          .p.p-2
          .text rutrum eu condimentum ut
        .award
          .icon.icon-4
          .p.p-4
          .text lorem ipsum
    section.slider
      h2 второй блок
      .slider
        .slides
          .slide
            .lside
              h2.family лоремова
              h3.surname ипсума анатольевна
              .caption lorem ipsum dolor
              button.hide Скрыть
              .block
                ul
                  li curabitur gravida lobortis nulla eu feugiat
                  li mollis a arcu vitae
                  li lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin imperdiet nisi vitae neque ullamcorper
                  li rutrum eu condimentum ut
                .h Lorem ipsum dolor
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin imperdiet nisi vitae neque ullamcorper, eget vestibulum nisi mattis. Suspendisse dignissim velit tortor, sed posuere tellus varius sed. Pellentesque blandit urna vitae massa gravida, non egestas tellus posuere. Vestibulum ut gravida felis. Phasellus mattis leo nec lacus cursus sodales. Cras feugiat, ligula a imperdiet posuere, nulla magna posuere lectus, non consequat felis felis nec nulla.
                .split
                .h Lorem ipsum dolor
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin imperdiet nisi vitae neque ullamcorper.
        .arrows
          .larr
          .nums 1 / 5
          .rarr
    section.partners
      h2 третий блок
      .years-filter
        .year.active 2019
        .year 2018
        .year 2017
        .year 2016
        .year 2015
        .year 2014
        .year 2013
        .year 2012
        .year 2011
      .block
        .item
          img(src="assets/images/partners/facebook.jpg")
          .title Lorem ipsum dolor sit amet.
          .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
        .item
          img(src="assets/images/partners/amazon.jpg")
          .title Lorem ipsum dolor sit amet.
          .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
        .item
          img(src="assets/images/partners/sony.jpg")
          .title Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
          //- .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
        .item
          img(src="assets/images/partners/ae.jpg")
          .title Lorem ipsum dolor sit amet.
          .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
    footer
      .l &copy; Копирайт, 2020
      .sign
