mixin phone()
  a.phone(href="tel:84999999999") 8 499 999 99 99
mixin social()
  a.insta(href="#")
  a.vk(href="#")
mixin awards()
  .awards
    .award.active
      .icon.icon-1
      .p.p-1
      .text lorem ipsum dol
    .award
      .icon.icon-2
      .p.p-2
      .text mollis a arcu vitae
    .award
      .icon.icon-3
      .p.p-2
      .text rutrum eu condimentum ut
    .award
      .icon.icon-4
      .p.p-4
      .text lorem ipsum
mixin slide()
  .slide(:style="slideStyle")
    .lside
      h2.family лоремова
      h3.surname ипсума анатольевна
      .caption lorem ipsum dolor
      button.hide(@click="hiddenDescription = !hiddenDescription")
        template(v-if="!hiddenDescription") Скрыть
        template(v-else) Показать
      .block(v-if="!hiddenDescription")
        if block
          block
        else
          ul
            li curabitur gravida lobortis nulla eu feugiat
            li mollis a arcu vitae
            li lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin imperdiet nisi vitae neque ullamcorper
            li rutrum eu condimentum ut
          .h Lorem ipsum dolor
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin imperdiet nisi vitae neque ullamcorper, eget vestibulum nisi mattis. Suspendisse dignissim velit tortor, sed posuere tellus varius sed. Pellentesque blandit urna vitae massa gravida, non egestas tellus posuere. Vestibulum ut gravida felis. Phasellus mattis leo nec lacus cursus sodales. Cras feugiat, ligula a imperdiet posuere, nulla magna posuere lectus, non consequat felis felis nec nulla.
          .split
          .h Lorem ipsum dolor
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin imperdiet nisi vitae neque ullamcorper.
    .rside
      .img
        .c
          img(src="assets/img/potato.jpg")