extends ../layout/main

block variables
  - var title = 'Lorem ipsum';
  - var description = 'curabitur gravida lobortis nulla eu feugiat';
  - var pageClass = 'index-page';

block content
  section.main
    .photo
      h1 lorem ipsum dolor sit amet
      .subtitle
        span lorem
        |  ipsum dolor sit amet
      .desktop
        +awards()
        button lorem ipsum dolor
    .mobile
      button lorem ipsum dolor
      +awards()
  section.slider
    h2 второй блок
    .slider
      .slides(ref="slides", :style="slidesStyle")
        +slide
        +slide
        +slide
        +slide
        +slide
          ul
            li curabitur gravida lobortis nulla eu feugiat
            li mollis a arcu vitae
            li lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin imperdiet nisi vitae neque ullamcorper
            li rutrum eu condimentum ut
      .arrows
        .larr(@click="prevSlide()")
        .nums {{ slide }} из {{ slides }}
        .rarr(@click="nextSlide()")
  section.partners
    h2 третий блок
    .years-filter
      .year.active 2019
      .year 2018
      .year 2017
      .year 2016
      .year 2015
      .year 2014
      .year 2013
      .year 2012
      .year 2011
    .block
      .item
        .img
          img(src="assets/img/partners/facebook.jpg")
        .title Lorem ipsum dolor sit amet.
        .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
      .item
        .img
          img(src="assets/img/partners/amazon.jpg")
        .title Lorem ipsum dolor sit amet.
        .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
      .item
        .img
          img(src="assets/img/partners/sony.jpg")
        .title Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
        //- .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
      .item
        .img
          img(src="assets/img/partners/ae.jpg")
        .title Lorem ipsum dolor sit amet.
        .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
      .item
        .img
          img(src="assets/img/partners/facebook.jpg")
        .title Lorem ipsum dolor sit amet.
        .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
      .item
        .img
          img(src="assets/img/partners/amazon.jpg")
        .title Lorem ipsum dolor sit amet.
        .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
      .item
        .img
          img(src="assets/img/partners/sony.jpg")
        .title Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
        //- .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
      .item
        .img
          img(src="assets/img/partners/ae.jpg")
        .title Lorem ipsum dolor sit amet.
        .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.

block script
  // scripts