.main {
  .photo {
    width: 100%;
    height: 300px;
    background: url(../img/photo.jpg) no-repeat center;
    background-size: cover;
    padding: 10px;
    @include flex(column, flex-end, flex-start);
    color: #fff;

    .subtitle {
      font-size: 20px;
      font-weight: 500;

      span {
        color: $pink;
      }
    }
  }

  button {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 4px;
    background-color: $pink;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.155em;
    margin-bottom: 25px;
  }

  .mobile {
    padding: 10px;
  }

  .awards {
    .award {
      @include flex(row, flex-start);

      .icon {
        width: 47px;
        height: 47px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 3px;

        &.icon-1 { background-image: url(../img/awards/1.svg); }
        &.icon-2 { background-image: url(../img/awards/2.svg); }
        &.icon-3 { background-image: url(../img/awards/3.svg); }
        &.icon-4 { background-image: url(../img/awards/4.svg); }
      }

      .p {
        width: 15px;
        height: 15px;
        margin-right: 15px;
        background-position: center;
        background-repeat: no-repeat;

        &.p-1 { background-image: url(../img/awards/p1.svg); }
        &.p-2 { background-image: url(../img/awards/p2.svg); }
        &.p-4 { background-image: url(../img/awards/p4.svg); }
      }

      .text {
        font-weight: 500;
        font-size: 14px;

      }
      &.active {
        .text {
          min-height: 34px;
          border-radius: 4px;
          padding: 5px;
          @include flex(row);
          background-color: $pink;
          color: #fff;
          font-weight: 500;
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main {
    .photo {
      height: auto;
      padding: 190px 95px 95px;

      .subtitle {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 50px;
      }
    }

    button {
      width: 412px;
      margin-bottom: 0;
    }

    .awards {
      margin-bottom: 110px;
      .award {
        margin-bottom: 20px;

        .icon {
          transform: scale(1.49);
          margin-right: 20px;
        }

        .p {
          transform: scale(1.49);
          margin-right: 20px;
        }

        .text {
          font-size: 24px;
        }

        &.active {
          .text {
            font-size: 36px;
            height: 50px;
            padding: 0 10px;
          }
        }
      }
    }
  }
}