.partners {
  background: $gradient;
  padding: 42px 10px;
  margin-bottom: 0;

  h2 {
    color: $pink;
    text-align: center;
    margin-bottom: 25px;
  }

  .years-filter {
    width: 100%;
    margin-bottom: 35px;
    @include flex(row, center, flex-start, wrap);

    .year {
      background: #FFFFFF;
      border: 1px solid #888888;
      border-radius: 4px;
      @include flex();
      width: 63px;
      height: 40px;
      margin: 5px;
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 0.155em;
      text-transform: uppercase;
      color: #888888;
      @include transition;

      &.active {
        background: $pink;
        color: #fff;
        border-color: $pink;
      }
    }
  }

  .block {
    @include flex(row, space-between, flex-start, wrap);

    .item {
      width: 100%;
      margin-bottom: 20px;

      .img {
        width: 100%;
        height: 130px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        @include flex;
        background: #fff;
        margin-bottom: 20px;
      }

      img {
        max-width: 80%;
        max-height: 80%;
      }

      .title {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .partners {
    padding-left: 95px;
    padding-right: 95px;

    .years-filter {
      display: none;
    }

    .block {
      .item {
        width: 24%;
        margin-bottom: 90px;

        .img {
          height: 240px;
        }
      }
    }
  }
}