section.slider {
  h2 {
    color: $pink;
    text-align: center;
  }

  .slider {
    padding-top: 34px;
    padding-bottom: 5px;
    overflow-x: hidden;
    width: 100%;

    .arrows {
      @include flex(row);
      padding-top: 30px;

      .larr,
      .rarr {
        width: 30px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .larr {
        background-image: url(../img/l-arr.svg);
      }

      .rarr {
        background-image: url(../img/r-arr.svg);
      }

      .nums {
        margin: 0 35px;
        font-weight: 500;
        font-size: 24px;
      }
    }

    .slides {
      width: 100%;
      @include flex(row, flex-start, flex-start);
      @include transition;

      .slide {
        padding: 0 10px;
        @include flex(column-reverse);

        .rside {
          margin-bottom: 30px;

          .img {
            width: 128px;
            border-radius: 50%;
            overflow: hidden;

            .c {
              width: 100%;
              height: 0;
              padding-top: 100%;

              img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        .family {
          text-transform: uppercase;
          margin-bottom: 15px;
        }

        .surname {
          text-transform: uppercase;
          font-size: 30px;
          line-height: 30px;
          color: #888;
          margin-bottom: 20px;
          text-align: center;
        }

        .caption {
          font-size: 13px;
          text-align: center;
          letter-spacing: 0.155em;
          text-transform: uppercase;
          margin-bottom: 40px;
        }

        .hide {
          display: block;
          width: 156px;
          height: 40px;
          border: 1px solid #888888;
          box-sizing: border-box;
          border-radius: 4px;
          background: #fff;
          font-size: 13px;
          font-weight: 500;
          text-align: center;
          letter-spacing: 0.155em;
          text-transform: uppercase;
          color: #888888;
          margin: 0 auto 35px;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          margin-bottom: 70px;

          li {
            list-style: none;
            padding-left: 20px;
            margin-bottom: 30px;
            font-size: 18px;
            line-height: 1.6em;

            &::before {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              top: 9px;
              width: 10px;
              height: 10px;
              background: #FF3754;
              border-radius: 3px;
            }
          }
        }

        .h {
          font-weight: 500;
          color: #000;
          font-size: 18px;
        }

        p {
          margin-bottom: 10px;
          margin-top: 0;
        }

        .split {
          height: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  section.slider {
    .slider {
      .arrows {
        .larr,
        .rarr {
          cursor: pointer;
          @include transition;
        }

        .larr:hover { background-image: url(../img/l-arr-pink.svg);}
        .rarr:hover { background-image: url(../img/r-arr-pink.svg);}
      }
      .slides {
        .slide {
          flex-direction: row;
          align-items: initial;
          padding: 0 95px;


          .lside {
            width: 50%;
            padding: 40px 6%;
            border-left: 30px solid $pink;

            &::before,
            &::after {
              content: '';
              width: 52px;
              height: 30px;
              background: $pink;
              display: block;
              position: absolute;
              left: -30px;
              top: 0;
            }

            &::after {
              top: auto;
              bottom: 0;
            }

            .family,
            .surname,
            .caption {
              text-align: left;
            }

            .surname {
              font-size: 40px;
            }

            .hide {
              display: none;
            }

            ul {
              li {
                margin-bottom: 0px;
              }
            }
          }

          .rside {
            width: 50%;
            border-right: 30px solid $pink;

            &::before,
            &::after {
              content: '';
              width: 52px;
              height: 30px;
              background: $pink;
              display: block;
              position: absolute;
              right: -30px;
              top: 0;
            }

            &::after {
              top: auto;
              bottom: 0;
            }

            .img {
              margin: 0 auto;
              width: 63%;
            }
          }
        }
      }
    }
  }
}