include ../utils/mixins
block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
    meta(data-hid='description', name='description', content=description)
    meta(data-hid='twitter:title', name='twitter:title', content=title)
    //- meta(data-hid='twitter:image:src', name='twitter:image:src', content='/assets/images/social/fb.png')
    meta(data-hid='twitter:card', name='twitter:card', content='summary_large_image')
    meta(data-hid='og:title', property='og:title', content=title)
    //- meta(data-hid='og:url', property='og:url', content='')
    //- meta(data-hid='og:image', property='og:image', content='/assets/images/social/fb.png')
    meta(data-hid='og:description', property='og:description', content=description)
    block head

  body(class=pageClass)
    .wrapper
      #app
        include ../includes/modules/header
        .content-wrapper
          block content
        include ../includes/modules/footer

    block script